@media (max-width: 1399.98px) {
    .servies .card-style .text h5::after {

        left: 62px;
    }
}

@media (max-width: 1199.98px) {
    .servies .padding {
        padding-left: 15px;
        padding-right: 15px;

    }

    .about-us .right-text {
        padding-left: 28px;
    }

    .about-us .right-text h3 {
        font-size: 37px;
        line-height: 46px;
    }

    .servies .card-style .text h5::after {
        left: 43px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .left-side {
        gap: 15px !important;
    }

    .top-bar span {
        font-size: 11px;
    }

    .right-text {
        margin-top: 50px;
    }

    .servies .card-style .text h5::after {
        display: none;
    }

    .servies .card-style {
        margin: 48px 0px;
    }

    .servies .all {
        padding-bottom: 40px;
    }

    .servies .card-style .text p {
        color: #666;
        font-size: 17px;
        line-height: 23px;
        padding-top: 4px;
    }
}

@media (max-width: 767.98px) {
    .top-bar .left-side {
        gap: 10px !important;
    }

    .top-bar {
        padding: 5px 0px 5px 0px;
        background-color: #353535;
        display: none;
    }

    .banner-section .text h2 {
        color: #FFF;
        width: 100%;
        max-width: 100%;
        padding-bottom: 10px;
        line-height: 51px;
        font-size: 35px;
    }

    .banner-section .text p {
        font-size: 15px;
    }
}



@media (max-width: 575.98px) {
    .about-us .right-text .main-box {
        flex-direction: column;
    }

    .about-us .img-set {
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    .banner-section .text h2 {
        line-height: 35px;
        font-size: 24px;
    }

    .banner-section .text p {
        font-size: 13px;
    }

    .banner-section .text .Request {
        margin-top: 20px;
    }

    .about-us .img-box::before {
        display: none;
    }

    .about-us {
        padding: 25px 0px 60px 0px;
    }

    .about-us .right-text {
        padding-left: 15px;
    }

    .about-us .right-text h3 {
        font-size: 26px;
        line-height: 33px;
    }

    .about-us .right-text .Lorem {
        font-size: 17px;
        line-height: 28px;
        margin-top: 16px;
        padding-left: 10px;
    }
    .about-us .right-text .main-box {
        margin-top: 19px;
        gap: 20px;
    }
    .about-us .right-text .main-box .text h4 {
        text-align: center;
    }
    .servies .all {
        padding-bottom: 12px;
        font-size: 33px;
    }
}
