:root {
    --btn-bg: #4CC941;
    --text-color: #4CC941;
    --bg-color: #4CC941;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Flow+Circular&family=Montserrat:wght@500&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap');

li,
span,
button {
    font-family: 'Cabin', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Flow Circular', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-bar {
    padding: 5px 0px 5px 0px;
    background-color: #353535;
}

.top-bar .left-side {
    display: flex;
    gap: 35px;
}

.top-bar li {
    list-style: none;
}

.top-bar li i {
    color: var(--bg-color);
}

.top-bar span {
    color: #fff;
    margin-left: 8px;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
}

.top-bar .icon {
    display: flex;
    justify-content: end;
}

.top-bar .icon i {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #252E47;
    background: #4CC941;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
    color: #fff;
}

/* top-bar css close  */

/***** header *****/
header {
    background: #FFF;
    box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.10);
}

header .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 9px;
    font-weight: 600;
    color: black;
    position: relative;
}

header .nav-link::before {
    width: 0%;
    bottom: -3%;
    left: 0;
    height: 2px;
    position: absolute;
    content: '';
    transition: 0.2s;
}

header .nav-link:hover::before {
    width: 100%;
    background-color: var(--bg-color);
}

header .nav-link:hover {
    color: var(--text-color);
}

header button {
    width: max-content;
    padding: 10px 26px;
    border-radius: 100px;
    background: #4CC941;
    color: #fff;
    border: none;
    font-weight: 700;
}

/***** End header *****/
/***** banner-section *****/
.banner-section {
    min-height: 700px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;

}

.banner-section .text h2 {
    color: #FFF;
    font-size: 55px;
    font-weight: 700;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
    padding-bottom: 18px;
    line-height: 65px;
}

.banner-section .text p {
    margin: auto;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    max-width: 750px;
    padding-bottom: 28px;
}

.banner-section .text .get {
    width: 153px;
    height: 50px;
    border-radius: 100px;
    background: #4CC941;
    color: #fff;
    border: none;
    font-weight: 700;
}

.banner-section .text .Request {
    width: 191px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 100px;
    border: 2px solid #4CC941;
    background: rgba(76, 201, 65, 0.00);
}

.banner-section .text .Request:hover {
    background-color: var(--bg-color);
}

/***** End banner-section *****/

/***** about us  *****/
.about-us {
    padding: 100px 0px 60px 0px;
}

.about-us .img-set {
    width: 446.065px;
    height: 562.293px;
    margin: auto;
    display: block;
}

.about-us .img-box {
    position: relative;
}

.about-us .img-box::before {
    background-image: url(../images/textur\ \(2\).png);
    width: 201.035px;
    height: 268.787px;
    right: 1%;
    position: absolute;
    content: '';
    z-index: -33;
    top: -45px;
}

.about-us .right-text {
    padding-left: 45px;
}

.about-us .right-text .About {
    border-radius: 100px;
    box-shadow: 0px 0px 15px 3px rgba(155, 155, 155, 0.25);
    width: max-content;
    padding: 10px 40px;
    color: #4CC941;
    font-size: 20px;
    font-weight: 600;
}

.about-us .right-text h3 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    padding-top: 8px;
}

.Itx {
    color: var(--text-color);
}

.about-us .right-text .Lorem {
    color: #666;
    font-size: 19px;
    line-height: 28px;
    margin-top: 18px;
    padding-left: 31px;
    border-left: 2px solid var(--bg-color);
}

.about-us .right-text .main-box {
    padding: 18px 0px 18px 0px;
    border-top: 2px solid #EBEFF4;
    margin-top: 42px;
    border-bottom: 2px solid #EBEFF4;
    display: flex;
    align-items: center;
    gap: 24px;

}

.about-us .right-text .main-box .text h4 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.about-us .CONTACT {
    border-radius: 100px;
    background: #4CC941;
    color: #fff;
    width: max-content;
    padding: 10px 45px;
    border: none;
    font-weight: 700;
    margin-top: 36px;
}



.about-us .Money {
    margin-right: 20px;
}

/***** End about us  *****/
/***** servies *****/
.servies {

    padding: 50px 0px 50px 0px;
    background-image: url("../images/textur\ \(3\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.servies .Our {
    border-radius: 100px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 0px 15px 3px rgba(155, 155, 155, 0.25);
    width: max-content;
    padding: 10px 35px;
    color: #4CC941;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}

.servies .all {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 21px;
    padding-bottom: 90px;
}

.servies .card-style {
    border-radius: 75px 13px 13px 13px;
    background: #FFF;
    box-shadow: 0px 0px 8px 1px rgba(215, 215, 215, 0.25);
    padding: 12px;
    text-align: center;
    padding-bottom: 35px;
}

.servies .icon-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: -61px;
    transform: rotate(-43.07deg);

    border-radius: 19px;
    background: #FFF;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    box-shadow: 0px 5px 6px -4px #4CC941;

}

.servies .icon-box .img-tr {
    transform: rotate(44deg);
    width: 41.048px;
    height: 39px;
}

.servies .card-style .text {
    padding-top: 56px;
}

.servies .card-style .text h5 {
    color: #000;
    font-size: 26px;
    font-weight: 700;
    position: relative;
}

.servies .card-style .text h5::after {
    position: absolute;
    content: '';
    width: 94px;
    height: 5px;
    background-color: var(--bg-color);
    left: 85px;
    bottom: -11px;
}

.servies .card-style .text p {
    color: #666;
    font-size: 16px;
    line-height: 23px;
    padding-top: 26px;
}

.servies .padding {
    padding-left: 20px;
    padding-right: 20px;
}

/***** End servies *****/
